*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background: #eef;
	font-family: sans-serif;
	font-size: 12pt;
	margin: 32px;
}

.site-wrapper {
}

.site-header {
	border: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	padding: 1em;
}

.site-logo {
	font-size: 3em;
	font-style: italic;
	margin: 0;
}

.site-logo a {
	color: white;
	text-decoration: none;
}

.site-content {
	background: #fff;
	padding: 1em;
}

.site-navigation {
	padding: 0.25em;
	background: darkblue;
}

.site-navigation a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin: 0 1em;
}

.site-footer {
	border: 0;
	padding: 0.5em;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: linear-gradient(to top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
}

.copyright {
	font-size: small;
	text-align: center;
}
